:host {
	--accent-color: dodgerblue;
	--accent-text: white;
	--background: linen;
	--optgroup-background: moccasin;
	--border-color: silver;
	--border-radius: 5px;
	--hover-brightness: .9;
	--cursor: pointer;
	--option-height: 35px;
	--pad: 3px;
	--text-color: rgb(40,40,40);
	--transition-duration: .25s;

	border-radius: var(--border-radius);
	display: inline-block;
	position: relative;
	interpolate-size: allow-keywords;
	vertical-align: bottom;
	z-index: 1000;
}

:host([disabled]) #overlay {
	display: block;
}

:host([disabled]) div:focus {
	filter: none;
}

:host([disabled]) div:focus-within {
	outline: none;
}

:host([size]) #options:not([data-multiple]) {
	position: static;
}

:host([size]) select {
	appearance: none;
	height: 0;
	border: none;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

:host(:not([size])) #options.open {
	overflow-y: clip;
}

div[data-value] {
	align-items: center;
	background: var(--background);
	border-bottom: 1px solid var(--border-color);
	/* box-sizing: border-box; */
	color: var(--text-color);
	cursor: var(--cursor);
	display: flex;
	gap: .5rem;
	height: var(--option-height);
	justify-content: flex-start;
	line-height: 1em;
	padding: var(--pad);
	width: 100%;
}

div[data-value]:last-child
{ border: none; }

div[data-value]:focus,
div[data-value]:not([disabled]):hover {
	filter: brightness(var(--hover-brightness));
}

div:focus-within {
	outline: 1px solid white;
}

div[data-value] *,
div[data-type="optgroup"] * {
	height: var(--option-height);
	margin-bottom: 1px;
}

div[selected],
div[aria-selected] {
	background: var(--accent-color);
	color: var(--accent-text);
}

div[disabled] {
	position: relative;
	cursor: not-allowed;
}

div[disabled]::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}

div[data-type="optgroup"] {
	background: var(--optgroup-background);
	padding: var(--pad) 0;
}

div[data-type="optgroup"] > strong {
	align-items: center;
	display: flex;
	gap: var(--pad);
	padding: var(--pad);
	padding-top: 0;
}

div[data-type="optgroup"] > div {
	margin: 0 var(--pad);
	width: auto;
}

option {
	align-items: center;
	display: flex;
	height: var(--option-height);
	padding: var(--pad);
}

select {
	background: var(--background);
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	color: var(--text-color);
	cursor: var(--cursor);
	height: var(--option-height);
	padding: var(--pad);
}

select:focus {
	/* border-color: lime; */
}

select:disabled
{ cursor: not-allowed }

select[multiple] {
	appearance: none;
	height: 0;
	border: none;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

svg
{ fill: var(--text-color) }

#options {
	height: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0;
	transition: height var(--transition-duration);
}

#options[data-multiple],
 {
	border: 1px solid var(--border-color);
}

#options:not([data-multiple]) {
	position: absolute;
	width: max-content;
}

#options.open {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	height: max-content;
	min-height: var(--option-height);
	overflow-y: auto;
}

#overlay {
	background: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#wrapper {
	background: var(--background);
	border-radius: var(--border-radius);
	position: relative;
	width: 100%;
}

@media (prefers-color-scheme:dark) {
	:host {
		--text-color: white;
		--background: rgb(40,40,40);
		--border-color: dimgray;
		--hover-brightness: .75;
	}
}
